@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    
    
}
<div id="sredina">
    <h1 class="text-danger">Greska!</h1>
    <br />
    <h2 class="text-danger">Dogodila se greska u aplikaciji</h2>
    

</div>

