@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}<div id="sredina">

    <div class="jumbotron" style="background-color:inherit">


        <p>
            Obratite se administratoru
        </p>

    </div>
</div>