@model IEnumerable<Projekat.ViewModels.UrednikOdgovorViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sredina" name="sredina" class="sredina-upload-mat">
    <ul class="list-group">
        @foreach (var i in Model)
        {
                <li class="list-group-item align-items-start moje">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 moje1">@i.MaterijalNaslov</h5>
                        <small class="moje2">@i.MaterijalOpis</small>
                    </div>
                    <h6 class="moje3">@i.Obrazlozenje</h6>
                    <p>@i.datum</p>
                </li>

        }
    </ul>
</div>
