<div id="sredina">
    @{
        ViewBag.Title = "Potvrda zaboravljene lozinke";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Na mail vam je poslat link za promenu sifre
        </p>
    </div>

</div>