<div id="sredina">
    @{
        ViewBag.Title = "Potvrda promene lozinke";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Vaša lozinka je promenjena. Molimo @Html.ActionLink("kliknite ovde kako biste se ulogovali.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>